[Unit]
Description=Redis container
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker \
  run \
  -p 6379:6379 \
  --name sensu_redis \
  903369196314.dkr.ecr.us-east-1.amazonaws.com/redis
ExecStop=/usr/bin/docker stop -t 2 sensu_redis
ExecStopPost=/usr/bin/docker rm sensu_redis

[Install]
WantedBy=local.target
